<div class="masonry-controls-filter">
	<input type="text" ng-model="nameFilter" />
</div>
<div class="masonry-controls">
	<!-- <a href="#" ng-click="order = 'id'">Order by id</a> -->
	<a href="#" ng-click="order = 'name'">Order by name</a>
	<a href="#" ng-click="order = 'yearsAgo'">Latest Projects</a>
</div>
<ul class="grid" masonry="true">
	<li ng-repeat="item in items | filter: { name: nameFilter } | orderBy: order" >
	<div class="website-name">{{item.name}}</div>
		<a href="{{item.href}}" data-ng-class="item.className">
			<img class="img-responsive" src="{{item.picture}}" alt="" />
			<span class="portfolio-href">{{item.href}}</span>
		</a>
		<div class="website-year">Production Year: <span>{{item.year}}</span></div>
	</li>
</ul>